# Django
*.log
*.pot
*.pyc
__pycache__/
media/
staticfiles/

# Database
*.sqlite3
*.db

# Environment
.env
.venv
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Poetry
poetry.lock

# Images
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg